@page
@model IndexModel
@{
    ViewData["Title"] = "Página Principal";
}
<body background="LOGO-IMC-0002.jpg" bgproperties="fixed">
    <div class="text-center">
        <h1 class="display-4">“Paciência e persistência são qualidades vitais no resultado final para realizar algum esforço que valha a pena.” Joseph Pilates</h1>
        <p>Bom trabalho!</p>
    </div>
    <div class="col-sm-12">
        <img src="../img/LOGO-IMC-0002.jpg" class="img-fluid" alt="LOGO-IMC">
    </div>
</body>


