@page
@model IndexModel
@{
    ViewData["Title"] = "Página Principal";
}

<body background="../img/LOGO-IMC-0002.jpg" style="max-height: 100%; max-width: 100%" ; bgproperties="fixed">
    <p>
        <font size=10 color="red" FACE='Didot'>
            “Paciência e persistência são qualidades vitais no resultado final para realizar
            algum esforço que valha a pena.” <font></font><i>Joseph Pilates</i>
        </font>
    </p>


   
</body>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_CustomConfirm");}
}
