<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" lang="pt-br" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header class="bg-dark">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <img src="~/img/LOGO-IMC-0001.jpg" width="60" height="60" alt="">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link text-white" asp-area="" asp-page="/Admin/CustomerCRUD/List">Cliente</a>
                        <a class="nav-item nav-link text-white" asp-area="" asp-page="/Admin/PlanCRUD/List">Plano</a>
                        <a class="nav-item nav-link text-white" asp-area="" asp-page="/Admin/QuestionCRUD/List">Questionamentos</a>
                    </div>
                </div>
                <a class="navbar-brand text-white" asp-page="/Index">Sair</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="col text-right">
                    <div class="nav-item"><a class="nav-link text-white" asp-area="" asp-page="/Contact">Suporte</a></div>
                </div>
            </div>
        </nav>
    </header>
    <section class="container" style="padding-bottom:72px;">
        <main role="main">
            @RenderBody()
        </main>
    </section>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-8 col-sm-8">
                    &copy; 2022 - Instituto Movimento Consciente - <a asp-area="" asp-page="/Privacy">Política de Privacidade</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script defer scr="https://friconix.com/cdn/friconix.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
